
<app-nav></app-nav>

<div class="center">
    <div class="value">
    <style>
        h2{
            color: darkblue;
        }
      
        
    </style>

<h1>Hello {{title}}</h1>
<div class="dropdown" data-bs-theme="dark">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
      Dark dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
      <li><a class="dropdown-item active" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>



<h2 style="color: peru ">hii  brother</h2>


<h2> i am going to add the files</h2>

<app-login></app-login>

<button (click)="getName('Suhag Mohinkar')"> click</button>
<br>
<br>
<br>
<h1>Event Listener</h1>
<input type="text" placeholder="keyup event" #box (keyup)="getData(box.value)"/>
<br>
<br>
<input type="text" placeholder="keydown event" #box1 (keydown)="getData(box1.value)"/>
<br>
<br>
<input type="text" placeholder="blur event" #box2 (blur)="getData(box2.value)"/>
<br>
<br>
<input type="text" placeholder="input event" #box3 (input)="getData(box3.value)"/>
<br><br>

<h2 #head (mouseover)="getColor('hover')"> Hi Hover Mouse Over Events</h2>
<h2 #head (mouseleave)="getColor('leave')"> Hi Leave Mouse Over Events</h2>

<h1>get text Box values and print</h1>

<input type="text" #box4  placeholder="Enter your thoughts">

<br><br>
<button ((click))="printData(box4.value)">Click</button>
<br><br>
<p > your thoughts : {{storeData}}</p>

<h1>Counter</h1>

<button (click)="getCount('add')">++</button>
<p>Count : {{Counter}}</p>
<button (click)="getCount('minus')">- -</button>

<h1>Property Binding and Interpolation</h1>

<input type="text" name="input-text" value={{name}} disabled={{disable}} />
<br><br>

<input type="text" name="input-text" [value]=name [disabled]=disable/> 

<h1> If - Else condition</h1>

<h2 *ngIf="show; then elseBlock else ifBlock"></h2>

<ng-template #ifBlock>
    <h2>If Condition Means You have Clicked on True</h2>
</ng-template>
<ng-template #elseBlock>
    <h2 > Else condition Means You have Clicked on False </h2>
</ng-template>

<button (click)="getFun()">{{show}}</button>


<h1>Else-IF Conditions</h1>

<ng-template [ngIf]="dudeColor=='red'">
<h2 style="color: red;">Red Color</h2>
</ng-template>
<ng-template [ngIf]="dudeColor=='green'">
<h2 style="color: green;">Green Color</h2>
</ng-template>
<ng-template [ngIf]="dudeColor=='yellow'">
<h2 style="color: yellow;">Yellow Color</h2>
</ng-template>
<ng-template [ngIf]="dudeColor=='orange'">
<h2 style="color: orange;">Orange Color</h2>
</ng-template>

<button (click)="getColors('red')">red</button>
<button (click)="getColors('green')">green</button>
<button (click)="getColors('yellow')">yellow</button>
<button (click)="getColors('orange')">orange</button>
<style>
    button{
        margin-right: 5px;
    }
</style>



<h1>Switch Case</h1>

<div  [ngSwitch]="Color">
<h2 *ngSwitchCase="'red'" style="color: red;">Red Color</h2>
<h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2>
<h2 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h2>
<h2 *ngSwitchCase="'peru'" style="color: peru;">Peru Color</h2>
<h2 *ngSwitchCase style="color: black;">Peru Color</h2>
</div>

<button (click)="getColorsWithSwitch('red')">red</button>
<button (click)="getColorsWithSwitch('green')">green</button>
<button (click)="getColorsWithSwitch('blue')">blue</button>
<button (click)="getColorsWithSwitch('peru')">peru</button>


<h1>For Loop In Angular</h1>

<p *ngFor="let item of users">{{item}}</p>

<p *ngFor="let item of usersData">{{item.name}}-- {{item.email}}--{{item.phone}}</p>

<h1>Nested For loop in angular</h1>
<ul *ngFor="let user of Users">
    <li>Name : {{user.name}}</li>
    <li>email : {{user.email}}</li>
    <li>phone : {{user.phone}}</li>
    <ul *ngFor="let account of user.userAccounts">
     <li>{{account}}</li>
    </ul>
</ul>

<h1>Style Binding</h1>

<p [style.color]="'green'">Suhag Mohinkar</p>
<p [style.color]="color" [style.backgroundColor]="bgColor">Suhag Mohinkar</p>
<p [style.color]="color" [style.backgroundColor]="bgColor">Software Developer</p>

<button (click)="Onclick()">Change Color </button>
<div>
<h1>Basic Form</h1>

<form #basicForm="ngForm" (ngSubmit)="getUserData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter Your Name " id="">
   <br><br>
    <input type="mail" ngModel name="email" placeholder="Enter Your Email " id="">
    <br><br>
    <input type="password" ngModel name="password" placeholder="Enter Your password " id="">
    <br><br>
   <input type="submit" value="submit">
</form>

<div *ngIf="userDisplay">
    <ul>
        <li>{{userData.user}}</li>
        <li>{{userData.email}}</li>
        <li>{{userData.password}}</li>
    </ul>
</div>
</div>

<div>
    <h1>Toggle Element</h1>
     
    <button (click)="toggle()">Toggle</button>

    <div *ngIf="display">I am From Toggle</div>
    
</div>

<h1>Style by Angular Bootstrap</h1>
<ng-template #tipContent>Hello, <b>{{name}}</b>!</ng-template>
<button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
	I've got markup and bindings in my tooltip!
</button>

<h1>Material UI in angular</h1>

</div>

</div>




